* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

.container {
  display: flex;
}

img {
  object-fit: cover;
  border-radius: 2rem;
  width: 150px;
  padding-bottom: 15px;
}

.profil p {
  padding-bottom: 15px;
}

.profil h2 {
  font-size: 35px;
}

.head_bar {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(51, 65, 85);
}

.head_bar_title {
  display: flex;
  text-align: center;
}

main {
  padding: 32px;
  justify-content: center;
  display: flex;
}

.input_section {
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 4px 8px rgba(15, 23, 42, 0.1);
}

.input_section > h2 {
  text-align: center;
  color: rgb(51, 65, 85);
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  border: none;
  outline: none;
  background-color: darkblue;
  color: #fff;
  font-weight: 600;
  float: right;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.input_section > form > button:hover {
  background-color: skyblue;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: darkblue;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: darkblue;
  font-weight: bold;
  margin-right: 10px;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.profil {
  margin: 16px;
  box-shadow: 0 4px 8px rgba(15, 23, 42, 0.1);
  padding: 16px;
  border-radius: 10px;
  width: 340px;
  height: auto;
  text-align: center;
}

.book_shelf {
  margin: 16px 0 0 0;
  box-shadow: 0 4px 8px rgba(15, 23, 42, 0.1);
  padding: 16px;
  border-radius: 10px;
  width: 300px;
  height: auto;
  text-align: center;
}

.book_shelf > h2 {
  color: darkblue;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
.book_shelf > .book_list > .book_item > p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.checklist {
  background: url("../img/checked.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.checklist:hover {
  background: url("../img/checked.gif");
  background-size: contain;
}

.trash {
  background: url("../img/trash.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash:hover {
  background: url("../img/trash.gif");
  background-size: contain;
}

.undo {
  background: url("../img/restart.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo:hover {
  background: url("../img/restart.gif");
  background-size: contain;
}

.checklist:focus,
.trash {
  outline: none;
}
